.products {
  background-color: #eff3fa;
  padding: 50px 0;
}
.products a,
.products a:hover {
  display: block;
  color: #fff;
  text-decoration: none;
}

.noProducts {
  padding: 20px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px auto !important;
  width: 90% !important;
  background-color: #f2f5fb;
  color: var(--textColor);
}