.details-img {
  min-width: 280px !important;
}

.details-img img {
  width: 100% !important;
  border-radius: 5px;
}

.details-service p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #ff4605;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.details-service p span {
  color: #1b2634;
  font-size: 1.2rem;
}

.details-service button {
  background-color: #ff4605;
  color: #fff;
  font-size: 1.3rem;
  height: 3.5rem;
}

.details-service button:hover {
  color: #ff4605;
  border: 1px solid #ff4605;
  background: none;
}

@media (max-width: 991px) {
  .details-service {
    margin-top: 1.5rem;
  }
}
